html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page-header {
	border-bottom: none!important;
}

.grid-item{
	display: grid;
	justify-content: center;
	margin-bottom: 1rem;
}

.Site {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.site-content{
	font-weight: lighter;
}

.container-nav{
	background-color: #ffffff!important;
}

.Site-content {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    margin-top: 100px!important;
}

.usr-bttn{
	width:  100px!important;
	height: 100%!important;
	padding-top: 10px!important;
	padding-bottom: 0px!important;
}

.usr-bttn:hover{
	background-color: #34626C!important;
	color: #ffffff!important;
}

.panel.panel-inverse {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 1rem;
}

.panel.panel-inverse a {
    color: #ddd;
}

.line-wrap {
    display: inline-block;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

textarea {
    min-height: 20rem;
    resize: vertical;
}

html, body, main {
  font-family: 'Abhaya Libre', serif;
	font-size: 14px;
  background-color: #E5E5E5;
}

.fa-search {
	color: #34626C!important;
	padding-bottom: 5px!important;
}

.fa-trash-alt {
	color: #dcf0f5!important;

}

.fa-trash-alt:hover{
	color: #34626C!important;
}

.btn-search{
	background-color: transparent!important;
	padding-left: 2px!important;
	padding-bottom: 15px!important;
}

.navbar-right{
	border-color: #34626C!important;
	color: #34626C!important;
	margin-right: 15px!important;
}

.navbar-brand {
	font-family: 'Philosopher', serif;
	font-size: 30px!important;
	color: #34626C!important;
	margin-top: 10px;
}

.w-100{
	width: 100%;
}

.sign-in-login{
	border-width: 10px!important;
	border-color: #34626C!important;
	margin-left:  1rem!important;
	margin-right: 1rem!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;

	margin-top: 10px!important;
	margin-bottom: 10px!important;

	width: 9rem;
	text-align: center;
	color: #34626C!important;
	background-image: none !important;
	background-color: none!important;
	border: 1px solid #34626C!important;
}

/* .navbar-nav>li>a {
	border-width: 10px!important;
	border-color: #34626C!important;
	margin-left:  1rem!important;
	margin-right: 1rem!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;

	margin-top: 10px!important;
	margin-bottom: 10px!important;

	width: 9rem;
	text-align: center;
	color: #34626C!important;
	background-image: none !important;
	background-color: none!important;
	border: 1px solid #34626C!important;
} */

.navbar-right {
	height: 100%!important;
	box-shadow: none!important;

}

.fa-user {
	margin-left: 12px!important;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
	border-top: 2px solid #CFD3CE;
	margin-top: 10px;
	padding-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.grid-item>a{
	color: #606060;
}

.navbar-toggle{
	margin-top: 17px!important;
}

@media (max-width: 768px) {
	.usr-bttn {
		width:  100%!important;
	}

	.usr-bttn{
		padding-top: 5px!important;
		padding-bottom: 3px!important;
	}

	.sign-in-login{
		height: 100%!important;
		margin: 0px!important;
		font-size: 28px!important;
		padding-left: 15px!important;
	}

	#liked-bttn-text, #account-bttn-text, #add-alcohol-bttn-text{
		font-size: 28px!important;
		margin-top: 6px!important;
	}

	.fa-user {
		margin-left: 0px!important;
	}

	.container-nav {
		margin: 0px;
		padding: 0px;
	}

	.navbar-header>button{
		margin-right: 15px!important;
	}

	.navbar-brand{
		margin-left: 15px!important;
	}

	.navbar-nav>li>a {

		border: none!important;
		margin-left:  0rem!important;
		margin-right: 0rem!important;



		width: 100%;
		height: 100%;
		text-align: left;

	}

	.grid-container {
		margin-left: 0px;
		margin-right: 0px;
	}
}
/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a,
.sign-in-login:hover,
.sign-in-login:active
{
	background-color: none!important;
	background-color: #34626C!important;
	color: #ffffff!important;
	background-image: none !important;

}

.footer {
	background-color: #ffffff!important;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
	padding: 1rem 2rem 3rem;
	color:  #34626C!important;

}


.navbar{
	background-color: #ffffff!important;
	border-color: #ffffff!important;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1)!important;
	height: 65px!important;
	margin-left:0px;
}

.navbar-collapse{
	margin-left: 0px!important;
	margin-right: 0px!important;

}


#accordion h1 {
    font-size: 3rem !important;
}

#accordion h2 {
    font-size: 2.5rem !important;
}

#accordion h3 {
    font-size: 2rem !important;
}

#accordion p {
    font-size: 1.5rem !important;
}

#accordion .panel-body, [class^="flask-pagedown"] {
    max-height: 50rem;
    overflow-y: scroll;
}

.primary-info {
    display: flex;
    flex-direction: row-reverse;
}

#product-image-container
{
	height: 560px;
	min-width: 24rem!important;
	text-align: center;
	background-color: #ffffff;

}

#main-page-cintent{
	margin-top:  40px!important;

}

.card-name{
	height: 50px;
	padding-top: 15px;
}

/* .card:hover{
	background-color:  #34626C!important;
	color: #ffffff!important;
	text-decoration:none!important;
} */


.card:hover>.card-name{
	background-color:  #34626C!important;
	color: #ffffff!important;
	text-decoration:none!important;
}

.card:hover{
	border: 4px solid #34626C ;
}

.card{
	color: #34626C;
}


/* .card-name>a{
	height: 100px!important;
	width: 100px!important;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 50px;
	padding-bottom: 50px;

} */

.card{
	//height: 36rem!important;
	//width: 30rem!important;
	width: 100%;
	height: 34rem;
	text-align: center;
	background-color: #ffffff!important;
	margin-bottom: 30px;
}



.card-img{
		height: 30rem!important;
		max-width: 283px!important;

		display: block;
		margin-left: auto;
		margin-right: auto;

}

.card-img-container
{
	height: 30rem!important;
	width: 100%!important
//	text-align: center!important;
}



#product-img
{
	height: 36rem;
	max-width: 475px;
	margin-top: 34px;
	margin-bottom: 34px;
}

#product-img-col {
	margin: 0px 0px 0px 0px!important;
	padding: 0px 0px 0px 0px!important;
	//margin-left: 5px!important;
}

#product-row{
	margin: 0px 0px 0px 0px!important;
	padding: 0px 0px 25px 0px!important;
}

#product-short-description
{
	padding: 0px 25px 0px 25px!important;
	height: 208px;
	text-align: justify
}

#product-info-header{
	padding-left: 15px!important;
	padding-top: 15px!important;
}

#btn-add-review, #btn-buy-product{
		border-radius: 0px!important;
	background-color: #ffffff!important;
	border: 1px solid!important;

	border-color: #34626C!important;
	text-align: center!important;
	color: #34626C!important;
	background-image: none!important;
	font-weight: bold;
	margin-top: 0px!important;
}

#btn-add-review{
	border-top: none!important;
}

.edit-product{
	width: 50%;
}

#btn-buy-product:hover, #btn-add-review:hover{
	border-radius: 0px!important;
	background-color: #34626C!important;
	border: 1px solid!important;

	border-color: #34626C!important;
	text-align: center!important;
	color: #ffffff!important;
	background-image: none!important;
	font-weight: bold;
}

#comment-section
{
	background-color: #ffffff;
	padding: 25px 25px 25px 25px;
	margin-bottom: 25px;
}

.panel-heading{
	background-image: none!important;
	color: #ffff!important;
	border: none!important;
}

#sign-in-body{
	border: 2px solid!important;
	border-color: #34626C!important;
}

#register-body{
	border: 2px solid!important;
	border-color: #C6B497!important;
}

#panel-heading-sign-in
{
	background-color: #34626C!important;
}

#panel-heading-register
{
	background-color: #C6B497!important;
}

#form-login>#submit{
	background-color: #34626C!important;
	background-image: none!important;
}

#form-login>.btn{
 background-color: #C6B497!important;
 background-image: none!important;
 border: none!important;
}

#form-register>#submit{
	background-color: #C6B497!important;
  background-image: none!important;
  border: none!important;
}

.m-p-0
{
	margin: 0px 0px 0px 0px!important;
	padding: 0px 0px 0px 0px!important;
}

.m-0
{
	margin: 0px 0px 0px 0px!important;
}

.avatar {
    background-position: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size: cover;
    transition: transform .5s ease-in-out;

}

.avatar-large {
    max-width: 400px;
    height: 400px;
}

.avatar-small {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    margin: 10px;
}

.avatar-mini {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

#user-short-description
{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

#user-detail>.row>.col{
	height: 400px!important;
}

#user-settings-menu>.btn{
	width:100%!important;
	height: 57px!important;
	//border: #34626C solid;
	text-align: left;
	color: #34626C!important;
	font-size: 18px;
	padding-top: 16px!important;
}

#user-settings-menu>.btn:hover{
	background-color: #34626C!important;
	color: #ffffff!important;
	font-size: 18px;
}



#product-info
{
	//height: 100%;
	background-color: #ffffff;
	//padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	height: 40rem;
	margin-left: 25px;

}

#product-info>.container-fluid>.row>h4{
	font-size: 1.5rem !important;
	margin: 0px 0px 0px 0px!important;
	padding: 25px 25px 0px 25px!important;
}

#product-info>.container-fluid>.row>.list-group>.list-group-item{
	padding-left: 0px!important;
}

#product-info>.container-fluid>.row>.list-group{
	padding: 0px 25px 0px 25px!important;
	box-shadow: none;
}

#product-info-list-item
{
	border: none!important;
}

.list-group-item:hover .avatar-small {
    transform: rotate(360deg);
}

.list-group-item
{
	border: none!important;
}

.list-group-item:hover .avatar-mini {
    transform: rotate(360deg);
}

.avatar-large:hover {
    transform: rotate(360deg);
}

#email, #password, #name, #password2 {
	border-radius: 25px!important;
}

#panel-login, #panel-registration{

	margin-top: 50px;
}


//-------------------------------------------------------------------------------





@media screen and (max-width: 768px) {
    .primary-info {
        display: flex;
        flex-direction: column;
    }

    .primary-info > img {
        width: 85vw;
        height: auto;
    }

    #accordion .panel-body, [class^="flask-pagedown"] {
        max-height: 25rem;
        overflow-y: scroll;
    }

    .avatar-large {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        -webkit-border-radius: 30vw;
        -moz-border-radius: 30vw;
        margin: 10vw;
    }

    .avatar-small {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin: 1px;
    }



}



@media (min-width: 768px) {
	/* .navbar-collapse.collapse{
		height: 100px!important;

	} */

	#add-alcohol-bttn-text{
		padding-left: 0px;
	}



}

@media (max-width: 991px) {
	#product-info
	{
		margin-left: 0px;
		margin-top: 25px;
	}

	}

	@media (max-width: 600px) {
		#product-img
		{
			min-width: 0px;
		}

		#product-info
		{
			height: 600px;
		}

		}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes bounceIn {

    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {

    0% {
        opacity: 0;
        -moz-transform: scale(0.8);
    }

    50% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes bounceIn {

    0% {
        opacity: 0;
        -o-transform: scale(0.8);
    }

    50% {
        opacity: 1;
        -o-transform: scale(1.05);
    }

    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes bounceIn {

    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.delay-0 {
    -webkit-animation-delay: .05s;
    -moz-animation-delay: .05s;
    -o-animation-delay: .05s;
    animation-delay: .05s;
}

.delay-1 {
    -webkit-animation-delay: .10s;
    -moz-animation-delay: .10s;
    -o-animation-delay: .10s;
    animation-delay: .10s;
}

.delay-2 {
    -webkit-animation-delay: .15s;
    -moz-animation-delay: .15s;
    -o-animation-delay: .15s;
    animation-delay: .15s;
}

.delay-3 {
    -webkit-animation-delay: .20s;
    -moz-animation-delay: .20s;
    -o-animation-delay: .20s;
    animation-delay: .20s;
}

.delay-4 {
    -webkit-animation-delay: .25s;
    -moz-animation-delay: .25s;
    -o-animation-delay: .25s;
    animation-delay: .25s;
}

.delay-5 {
    -webkit-animation-delay: .30s;
    -moz-animation-delay: .30s;
    -o-animation-delay: .30s;
    animation-delay: .30s;
}

.delay-6 {
    -webkit-animation-delay: .35s;
    -moz-animation-delay: .35s;
    -o-animation-delay: .35s;
    animation-delay: .35s;
}

.delay-7 {
    -webkit-animation-delay: .40s;
    -moz-animation-delay: .40s;
    -o-animation-delay: .40s;
    animation-delay: .40s;
}

.delay-8 {
    -webkit-animation-delay: .45s;
    -moz-animation-delay: .45s;
    -o-animation-delay: .45s;
    animation-delay: .45s;
}

.delay-9 {
    -webkit-animation-delay: .50s;
    -moz-animation-delay: .50s;
    -o-animation-delay: .50s;
    animation-delay: .50s;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {

        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -o-transform: translateX(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animated.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut;
}

.animated.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.table.table-striped {
    border: none;
}

.table.table-striped td {
    border: none;
}

.tag {
    border: gray solid 1px;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.tag:hover, .tag:focus, .tag:active {
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.badge {
    color: white;
    background-color: deepskyblue;
    border: skyblue solid 1px;
    border-radius: 1rem;
}
