{% extends "base.html" %}
{% block mycontent %}
        <div class="row animated fadeInDown">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form form-horizontal" method="get" action="{{ url_for('alcohol.index') }}">
							<div class="input-group  input-group-lg">
								 <input class="form-control" id="search" name="search" placeholder="Пошук" required type="text" value="">
						 <span class="input-group-btn">
								 <button class="btn btn-search" id="submit" name="submit" type="submit" value=""><i class="fa fa-2x fa-search my-3" aria-hidden="true"></i></button>
						 </span>
						 </div>
            </form>
        </div>
    </div>

		<div class = "container container-fluid" id = "main-page-cintent">
		<div class = "row row-md-12 m-p-0">
		{% for alcohol in alcohols %}
				{% if loop.index <= 3 %}

				<a class = "card-bttn" href="{{ url_for('alcohol.detail',alcohol_id=alcohol.id) }}">
					<div class = "col col-md-4">
						<div class= "card">
							<div class= "card-img-container">
									<img class="card-img" src="{{ alcohol.image }}" alt="{{ alcohol.title~' Cover' }}">
								</div>

							<div class = "card-name">
								{{ alcohol.title }}
							</div>

				</div>
			</div>
			</a>
		{% endif %}
{% endfor %}
</div>

<div class = "row row-md-12 m-p-0">
{% for alcohol in alcohols %}
		{% if 3 < loop.index <= 6 %}

		<a class = "card-bttn" href="{{ url_for('alcohol.detail',alcohol_id=alcohol.id) }}">
					<div class = "col col-md-4">
						<div class= "card">
							<div class= "card-img-container">
										<img class="card-img" src="{{ alcohol.image }}" alt="{{ alcohol.title~' Cover' }}">
							</div>

									<div class = "card-name">
										{{ alcohol.title }}
									</div>

						</div>
					</div>
					</a>

{% endif %}
{% endfor %}
</div>

<div class = "row row-md-12 m-p-0">
{% for alcohol in alcohols %}
		{% if 6 < loop.index <= 9 %}

		<a class = "card-bttn" href="{{ url_for('alcohol.detail',alcohol_id=alcohol.id) }}">
					<div class = "col col-md-4">
						<div class= "card">
							<div class= "card-img-container">
										<img class="card-img" src="{{ alcohol.image }}" alt="{{ alcohol.title~' Cover' }}">
							</div>

									<div class = "card-name">
										{{ alcohol.title }}
									</div>

						</div>
					</div>
					</a>

{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
