{%- extends "base.html" -%}
{%- from "bootstrap/pagination.html" import render_pagination -%}
{%- import "bootstrap/wtf.html" as wtf -%}
{%- block mycontent -%}


    <h1 class="page-header animated fadeInLeft">{{ alcohol.title }}
        {%- if alcohol.subtitle -%}
        <!-- <small>{{ alcohol.subtitle }}</small> -->
        {%- endif -%}
    </h1>

		<div class = "container-fluid m-p-0 site-content">
			<div class = "row row-md-5" id = "product-row">
				<div class = "col col-md-5" id = "product-img-col">
					<div id = "product-image-container">
						{%- if alcohol.image -%}
						<img id="product-img" src="{{ alcohol.image }}" alt="{{ alcohol.title~' Cover' }}">
						{%- endif -%}

					</div>

				</div>

				<div class = "col col-md-7 m-p-0"  id = "product-col" >

					<div id = "product-info">
						<div class = "container-fluid m-p-0">

							<div class = "row row-md-5 m-p-0">

							<div class = "row row-md-5 m-0">

							<h4><div id = "product-info-header">ОПИС</div></h4>
					<ul class="list-group">
							<li class="list-group-item" id = "product-info-list-item">ISBN: {{ alcohol.isbn }}</li>
							{%- if alcohol.origin_title -%}
							<li class="list-group-item" id = "product-info-list-item">Original title: {{ alcohol.origin_title }}</li>
							{%- endif -%}
							{%- if alcohol.manufacturer -%}
							<li class="list-group-item" id = "product-info-list-item">Manufacturer: {{ alcohol.manufacturer }}</li>
							{%- endif -%}
							{%- if alcohol.translator -%}
							<li class="list-group-item" id = "product-info-list-item">Translator: {{ alcohol.translator }}</li>
							{%- endif -%}
							{%- if alcohol.distributor -%}
							<li class="list-group-item" id = "product-info-list-item">Publishing house : {{ alcohol.distributor }}</li>
							{%- endif -%}
							{%- if alcohol.pubdate -%}
							<li class="list-group-item" id = "product-info-list-item">Publication date : {{ alcohol.pubdate }}</li>
							{%- endif -%}
							{%- if alcohol.tags.count() -%}
							<li class="list-group-item" id = "product-info-list-item">Label:
									{% for tag in alcohol.tags %}
									<a class="tag line-wrap" href="{{ url_for('.tags',search=tag.name) }}">{{ tag.name }} <span
													class="badge">{{ tag.alcohols.count() }}</span></a>
									{% endfor %}
							</li>
							{%- endif -%}
							{%- if alcohol.pages -%}
							<li class="list-group-item">Number of pages : {{ alcohol.pages }}</li>
							{%- endif -%}
							{%- if alcohol.price -%}
							<li class="list-group-item">Pricing: {{ alcohol.price }}</li>
							{%- endif -%}
							{%- if alcohol.binding -%}
							<li class="list-group-item">Binding: {{ alcohol.binding }}</li>
							{%- endif -%}
							<li class="list-group-item">Total commentars: {{ alcohol.comments.filter_by(deleted=0).count() }}</li>
					</ul>



					<div id = "product-short-description">
					{%- if alcohol.summary_html -%}
					{{ alcohol.summary_html|safe }}
					{%- else -%}
					{{ alcohol.summary }}
					{%- endif -%}
					</div>
				</div>
			</div>

			<div class = "row row-md-5 m-p-0">
				<button type="button" class="btn btn-primary btn-block" data-toggle="modal"
													data-target="#myModal" id = "btn-buy-product">
							Купити
						</button>
				<button type="button" class="btn btn-primary btn-block" data-toggle="modal"
													data-target="#myModal" id = "btn-add-review">
							Додати відгук
				</button>


				{%- if current_user.can(Permission.DELETE_ALCOHOL) -%}
        <a type="button" class="btn btn-danger edit-product"
           href="{{ url_for('alcohol.delete',alcohol_id=alcohol.id) }}">Delete alcohol</a>
        {%- endif -%}

				{%- if current_user.can(Permission.UPDATE_ALCOHOL_INFORMATION) -%}
				<a type="button" class="btn btn-warning edit-product" href="/alcohols/6/edit/">
						Edit alcohol information
				</a>
				{%- endif -%}
					</div>
				</div>
				</div>
			</div>
		</div>


<div class>
    <!-- Nav tabs -->

    <!-- Tab panes -->
    <div class="tab-content">

        {%- if (request.args.get('show') or '0')=='0' -%}

        <ul class="list-group">
            {%- if current_user.is_authenticated -%}

            {%- endif -%}
            {%- for comment in data -%}
            <li class="list-group-item clearfix">
                <div class="media">
                    {%- if comment.user.avatar_url() -%}
                    <div class="media-left">
                        <a href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                            <div class="media-object avatar avatar-small"
                                 style="background-image: url({{ comment.user.avatar_url() }})"></div>
                        </a>
                    </div>
                    {%- endif -%}
                    <div class="media-body">
                        <p class="media-heading"><a
                                href="{{ url_for('user.detail',user_id=comment.user.id) }}">
                            {{ comment.user.name }}</a>
                            <small>{{ comment.user.headline or "" }}</small>
                        </p>
                        <p class="list-group-item-text">{{ comment.comment }}</p>
                        {%- if comment.create_timestamp==comment.edit_timestamp -%}
                        <h4>
                            <small>
                                Posted on: {{ comment.create_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                        </h4>
                        {%- else -%}
                        <h4>
                            <small>
                                Edited on : {{ comment.edit_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</small>
                        </h4>
                        {%- endif -%}

                        {%- if comment.user_id == current_user.id or current_user.can(Permission.DELETE_OTHERS_COMMENT)
                        -%}
                        <a class="pull-right btn"
                           href="{{ url_for('comment.delete',comment_id=comment.id,next=request.url) }}"><i class="fas fa-trash-alt fa-2x"></i></a>
                        {%- endif -%}
                    </div>
                </div>
            </li>
            {%- endfor -%}
        </ul>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ current_user.name~' Correct '~alcohol.title~' Alcohol reviews ' }}</h4>
                    </div>
                    <form action="{{ url_for('comment.add',alcohol_id=alcohol.id) }}" method="post" class="form"
                          role="form">
                        {{ form.hidden_tag() }}
                        <div class="modal-body">
                            {{ wtf.form_field(form.comment,placeholder="The length is within 1024 characters)") }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Shut down
                            </button>
                            {{ wtf.form_field(form.submit,button_map={'submit':'success'}) }}
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {%- elif request.args.get('show')=='1' -%}
        {%- if data -%}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>User name</th>
                <th class="hidden-xs">User email</th>
                <th>Purchase date</th>
                <th>Return date</th>
            </tr>
            </thead>
            <tbody>
            {%- for log in data -%}
            <tr>
                <td>
                    <a href="{{ url_for('user.detail' ,user_id=log.user.id) }}">{{ log.user.name }}</a>
                </td>
                <td class="hidden-xs">{{ log.user.email }}</td>
                <td>{{ log.buy_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                <td>{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
        {%- else -%}
        <div class="container-fluid">No information</div>
        {%- endif -%}
        {%- else -%}
        {%- if data -%}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>User name</th>
                <th class="hidden-xs">User email</th>
                <th>Purchase date</th>
                <th>Return date</th>
            </tr>
            </thead>
            <tbody>
            {%- for log in data -%}
            <tr>
                <td>
                    <a href="{{ url_for('user.detail' ,user_id=log.user.id) }}">{{ log.user.name }}</a>
                </td>
                <td class="hidden-xs">{{ log.user.email }}</td>
                <td>{{ log.buy_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                <td>{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
            </tr>
            {%- endfor -%}
            </tbody>
        </table>
        {%- else -%}
        <div class="container-fluid">No information</div>
        {%- endif -%}

        {%- endif -%}
    </div>

    {%- if pagination and pagination.pages > 1 -%}
    <div class="container-fluid text-center">
        {{ render_pagination(pagination,args={'_anchor':'log'}) }}
    </div>
    {%- endif -%}
    {%- endblock -%}
</div>
